
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body
{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1080px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.card 
{
    background-color: white; 
    border-radius: 30px; 
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 300px; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.foto-1
{
    width: 100%;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: -5px;
}
.gambar-besar
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.content-frame-1
{
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.nama
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
}
.jurusan, .fakultas
{
    margin: 0;
    color: #555;
    font-size: 1em;
}
.tombol-about-me
{
    background-color: #b0b0b0;
    color: black;
    border: none;
    padding: 8px 25px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    margin: 20px auto 5px;
    display: block;
}

.foto-2
{
    width: 150px;
    height: 150px;
    border-radius: 70px;
    overflow: hidden;
    margin-bottom: -5px;
}
.gambar-kecil
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.deskripsi, .hobi
{
    margin: 0;
    color: #555;
    font-size: 1em;
}

.content-frame-2
{
    text-align: center;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.tombol-back
{
    background-color: #b0b0b0;
    color: black;
    border: none;
    padding: 8px 25px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    margin: 20px auto 5px;
    display: block;
}
